*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}
body{
    border: 0.2em solid #7A7A7A;
    height: 100%;
    margin: 0.5em;
    background-color: black;
    color: #FBFAF6;
}
a{
    text-decoration: none;
}
header{
    width: 100%;
}
.main_logo{
    width: 15%;
    height: auto;
    margin: 0.5em 0 0.5em 1em;
}
.marquee_container{
    width: 100%;
    border-top: 0.2em solid #7A7A7A;
    border-bottom: 0.2em solid #7A7A7A;
    background-color: #3B3B3C;
    overflow: hidden;
}
.marquee_text{
    margin: 0.1em 0;
    font-size: .8em;
    display: inline-block;
    animation: scrolling 90s linear infinite;
    color: white;
    font-weight: 600;
    background-color: #3B3B3C;
    text-transform: uppercase;
    white-space: nowrap;
}
.empty-space{
    display: inline-block;
    margin: 0 5vw;
    background-color: #3B3B3C;
}
main{
    display: flex;
    gap: 2em;
    width: 100%;
    margin: 0 auto;
    align-items: flex-start;
    
}
.sidebar{
    display: flex;
    flex-direction: column;
    width: 23%;
    border: 0.2em solid #FFDF00;
    height: 100%;
    position: sticky;
    top: 1.5em;
    background-image: 
    /* 1-й слой (верхний): Виньетка-затемнение по краям */
    radial-gradient(ellipse at center, transparent 40%, rgba(0,0,0, 0.9) 120%),
    
    /* 2-й слой (нижний): Диагональные полосы */
    repeating-linear-gradient(
      45deg, 
      #64646466 0px, 
      #64646466 30px, 
      black 30px, 
      black 60px
    );
    background-color: black;
}
.sidebar .login{
    align-self: end;
    margin: 0.7em 0.9em 0.7em 0;
    padding: 0.2em 0.5em;
    border: 0.2em solid #FF8600;
}
.sidebar .login p{
    color: #FF8600;
    font-family: 'Orbitron', sans-serif;
    font-weight: 700;
    font-size: 0.9vw;
    
}
.sidebar h3{
    font-size: 1.2vw;
    background-color: #FFDF00;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 3em;
    border: 0.5em solid #FFDF00;
    border-radius: 4%;
    gap: 0.3em;
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
    color: #000000;
}
.name_duck{
    display: flex; 
    align-items: center;
    background-color: transparent;
}
.name_duck img{
    width: 2vw;
    margin: 0;
    display: block;
}
.sidebar ul{
    list-style: none;
    color: white;
    border: 0.2em solid #7A7A7A;
    margin: 0.7em 0.7em;
    padding: 1em 0.5em 0 0.5em;
    background-color: rgba(0, 0, 0, 0.6);
}
.sidebar ul li{
    background-color: transparent;
}
.nav-item{
    width: 100%;
    color: white;
    text-decoration: none;
    display: flex;
    gap: 0.3em;
    background-color: transparent;
    margin-bottom: 0.4em;
}
.nav-item img{
    width: 12%;
    height: auto;
    padding-bottom: 1em;
    align-self: center;
}
.ministry{
    text-transform: uppercase;
    font-size: 0.9vw;
    font-family: 'Orbitron', sans-serif;
    font-weight: 900;
    letter-spacing: 0.08em;
    background-color: transparent;
}
.logo_container{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: transparent;
}
.sidebar img.avatar{
    width: 50%;
}
.nav-text{
    display: flex;
    flex-direction: column;
    gap: 0.1em;
    background-color: transparent;
}
.ministry_desc{
    font-size: 0.8em;
    margin-bottom: 1em;
    margin-left: 0.3em;
    background-color: transparent;
    font-family: 'Chakra Petch', sans-serif;
}
.unity_span{
    color: #109DB1;
}
.defence_span{
    color: #FE6D6A;
}
.science_span{
    color: #F1BE5A;
}
.expansion_span{
    color: #14947F;
}
.prosperity_span{
    color: #8E76C5;
}
.truth_span{
    color: #B43A8A;
}
.stratagems p{
    color: #FFDF00;
    margin: 0 0 0.5em 0.7em;
}
.stratagems_pack{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    margin-bottom: 1em;
}
.stratagem_link img{
    border: 0.15vw solid #3C5E94;
    width: 4vw;
    box-sizing: border-box;
    border-radius: 10%;
}
.sidebar ul,
.main-content{
    flex: 1;
}
.main-content{
    margin-right: 2em;
}
.striped-header {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 2em;
    background: repeating-linear-gradient(
        -45deg,
        #2A2A2A,
        #2A2A2A 0.3em,
        #383838 0.3em,
        #383838 0.5em
    );
    
    margin: 1.4em 8em; 
}

.striped-header h2 {
    margin: 0;
    color: #E2E2E2;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 0.1em;
    
    text-shadow: 0.2em 0.2em 0.3em rgba(0, 0, 0, 0.8);
}
.player-card-wrapper {
    padding: 2em 0 1em 0;
    width: 70%;
}

.player-banner {
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, #131722 0%, #4C6F8E 100%);
    height: 4em;
    position: relative; 
    padding-left: 1.5em;
}

.player-avatar {
    height: 6em; 
    width: auto;
    margin-top: -1em; 
    margin-bottom: -1em;
    margin-right: 1.5em;
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.5));
}


.player-name {
    margin: 0;
    color: #FFFFFF;
    font-family: 'Orbitron', sans-serif;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 0.1em;
}
.gray_background{
    background-color: #1C2022;
    padding: 1em 1.5em;
    margin-bottom: 3em;
}
.text_content{
    background: linear-gradient(90deg, #000000 0%, #08101A 22%, #244370 100%);
}
article{
    padding: 1.5em;
    color: #ABD0DF;
}
article p{
    margin-bottom: 1em;
    font-size: 1em;
    font-family: 'Chakra Petch', sans-serif;
}
article p strong{
    color: #FFE600;
    font-size: 1.2em;
}
.red-text{
    color: #FF6064;
    font-weight: 700;
    font-size: 1.2em;
}
.dive-btn {
    display: flex;
    align-items: center;
    gap: 0.8em;
    
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 1.5em;
}

.status-square {
    display: block;
    width: 1.5em;
    height: 1.5em;
    background-color: #7A7A7A;
    
    border: 0.2em solid #1A1A1A;
    outline: 0.2em solid #7A7A7A;
}

.dive-text {
    color: #63B4D1;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 0.05em;
    transition: 0.2s ease;
}

#about .dive-btn:hover .dive-text {
    color: #FFFFFF;
    text-shadow: 0 0 0.5em #63B4D1;
}

#about .dive-btn:hover .status-square {
    background-color: #1BD574;
    box-shadow: 0 0 0.7em #5CE084;
}


.expirience_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 56em;
    margin: 0 auto;
    font-family: sans-serif;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 1.3em;
}

.slider button {
    background-color: #e0e0e0;
    border: none;
    border-radius: 50%;
    width: 3.3em;
    height: 3.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-shrink: 0;
    transition: background 0.3s, transform 0.2s;
}

.slider button:hover {
    background-color: #fff;
    transform: scale(1.05);
}

.forward img {
    transform: scaleX(-1);
}

.slider button img {
    width: 1.5em;
    height: 1.5em;
}


.slider > img:not(.back img, .forward img) {
    width: 100%;
    max-width: 45em;
    height: auto;
    object-fit: cover;
    background-color: #2b3a55;
    border-radius: 0 3.5em 0 0;
}


.details {
    width: 100%;
    max-width: calc(45em - 2em);
    position: relative;
    z-index: 2; 
    display: flex;
    flex-direction: column;
    margin-left: 1.5em;
}

.headline {
    background-color: #787061;
    color: white;
    text-align: center;
    padding: 0.7em 1.4em;
    position: relative; 
    border: 0.2em solid #968C69;
    text-transform: uppercase;
    font-family: 'Orbitron', sans-serif;
}

.headline h3 {
    margin: 0;
    position: relative;
    z-index: 2; 
}


.headline::before {
    content: '';
    position: absolute;
    left: -3em; 
    top: -2.5em;  
    width: 11em;
    height: 5.5em;
    background-color: #FFDF00;
    border-radius: 0 2em 2em 0;
    z-index: -1; 
}

.description {
    background-color: #3B3B3C;
    color: #E0E0E0;
    padding: 1.2em;
    margin: 0;
    line-height: 1.6;
    width: 100%;
    font-family: 'Chakra Petch', serif;
}

.date {
    background-color: #141117;
    color: #a0a0a0;
    text-align: right;
    padding: 0.5em 1.2em;
    margin: 0;
    font-size: 0.85rem;
    font-family: 'Chakra Petch', serif;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.project-card {
    position: relative;
    width: 100%;
    height: 200px;
    background-color: #ffffff;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.project-card:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 10px 20px rgba(0, 180, 200, 0.2);
}

.project-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.project-tag {
    position: absolute;
    bottom: 10px;
    right: 10px; 
    background-color: #00a8b5;
    color: white;
    padding: 5px 10px 5px 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: bold;
    clip-path: polygon(15px 0, 100% 0, 100% 100%, 0 100%); /* Cutting edge at small card project name */
}

.duck-icon {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
}
.duck-icon img{
    width: 100%;
}

.modal-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 9999;
    
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-overlay.active {
    opacity: 1;
    pointer-events: auto;
}

.close-btn {
    position: absolute;
    top: 30px; right: 40px;
    font-size: 50px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10000;
    transition: color 0.2s;
}

.close-btn:hover {
    color: #fbe045;
}
.slider-track-wrapper {
    width: 100%;
    max-width: 750px;
    height: 350px;
    overflow: hidden; 
    border-radius: 0 50px 0 0;
    background-color: #2b3a55;
}
.slider-track {
    display: flex;
    height: 100%;
    transition: transform 0.4s ease-in-out;
}

.slider-track img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0; 
    display: block;
}
.objective-description{
    font-size: 1.1em;
    color: #FBFAF6;
    font-weight: 600;
}
.education-headline{
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin: 0.5em 0;
    margin-left: 0.7em;
}
.education-headline img{
    width: 4vw;
    height: auto;
}
.education-headline h3{
    color: #FF6064;
    font-family: 'Chakra Petch', sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
}

#education .text_content:last-of-type{
    width: 55%;
}
.progress-track {
    position: relative;
    width: 100%;
    height: 24px;
    background-color: #ffffff;
    border: 2px solid #000000;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.progress-fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #3fe07d;
    z-index: 1;
    transition: width 0.3s ease; 
}

.progress-text {
    position: relative;
    z-index: 2;
    color: #000000;
    font-weight: bold;
    margin-left: 10px; 
    font-family: 'Chakra Petch', sans-serif;
}

.progress-footer {
    display: flex;
    justify-content: end;
    margin-top: 8px;
}

.time-remaining {
    color: #a0aab5;
    font-size: 12px;
    font-family: 'Chakra Petch', sans-serif;
}
#education .dive-btn{
    padding-left: 0;
    cursor: default;
}
#education .status-square{
    background-color: #1BD574;
}

.skill-box{
    width: 100%;
    display: block;
    background-color: #2D2D2F;
    padding: 0.5em 1em;
}
.skill-headline{
    width: 100%;
    border-left: 0.1em solid #FEDC20;
    padding-left: 0.5em;
    margin-top: 0.5em;
    margin-left: 0.5em;
}
.skill-headline h3{
    font-size: 1.15vw;
    font-family: 'Orbitron', sans-serif;
}
.icon-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 12vh;
    margin: 1em 0;
    padding: 0.75em 0;
    background-color: #242424;
    box-sizing: border-box;
}
.skill-description{
    font-family: 'Chakra Petch', sans-serif;
    color: #ABD0DF;
}
@keyframes scrolling{
    0%{
        transform: translateX(100vw);
    }
    100%{
        transform: translateX(-100%);
    }
}